{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    {% if round == 1 %}
        Experiment part 1
    {% elif round == 2 %}
        Experiment part 2
    {% endif %}
{% endblock %}


{% block content %}

<p>
    Vašou úlohou bude hodiť 1x hracou kockou a zaznamenať výsledok svojho hodu.
</p>

{% if player.firstA == True %}
    <p>
        Variabilná zložka finančnej odmeny funguje na nasledujúcom princípe. Čím vyššie číslo hodu
        hracej kocky uvediete, tým obdržíte vyššiu odmenu. To znamená, že ak uvediete hodnotu 1,
        obdržíte {{1*variable_payment}} Kč, ak uvediete hodnotu 6, obdržíte {6*variable_payment}} Kč.
    </p>
    <p>
        Aj napriek uvedenému systému ohodnotenia Vás žiadam, aby ste odpovedali pravdivo a dali si
        na odpovediach záležať.
    </p>
    <p>
        {% formfield player.roll %}
    </p>

{% elif player.firstA == False %}
    <p>
        Variabilná zložka finančnej odmeny funguje na nasledujúcom princípe. Za uvedenie krajných hodnôt hodu kocky,
        ktorými sú 1 a 6, obdržíte najmenšiu odmenu {1*variable_payment}} Kč. Hodnoty 2 a 5 poskytnú odmenu {3*variable_payment}} Kč.
        Stredové hodnoty 3 a 4 poskytnú najvyššiu odmenu {6*variable_payment}} Kč.
    </p>
    <p>
        Aj napriek uvedenému systému ohodnotenia Vás žiadam, aby ste odpovedali pravdivo a dali si
        na odpovediach záležať.
    </p>
    <p>
         {% formfield player.roll %}
    </p>
{% endif %}

    <button class="otree-btn-next btn btn-primary next-button otree-next-button" id="continue_button"> Potvrdiť hodnoty a pokračovať </button>


{% endblock %}
