{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% if round == 1 %}
Experiment A
{% elif round == 2 %}
Experiment B
{% endif %}
{% endblock %}


{% block content %}

<p>
    Vaší úlohou bude hodit 1x hrací kostkou a zapsat si výsledek vašeho hodu.
</p>

<p>
    Nyní vás požádáme, abyste v experimentálním prostředí pravdivě uvedli, jaké číslo vám padlo. Zároveň vás požádáme,
    abyste uvedli, jaké procento účastníků experimentu uvedli každou z možných hodnot 1 až 6.

</p>
{% if firstA == True %}
<p>
<p>Odměna za tento experiment se skládá ze dvou částí:</p>
<ul>
    <li>
        Odměna za uvedenou hodnotu hodu. Získáte {{ variable_payment}} krát číslo, které uvedete. Pokud tedy uvedete
        např.
        číslo 1 získáte {{ reward_1 }} Kč, pokud uvedete např. číslo 6 získáte {{ reward_6 }} Kč.
    </li>
    <li>
        Odměna za přesný tip a pravdivost: Na základě vašich odpovědí vypočítáme skóre, které odráží, jak přesně jste
        tipovali odpovědi ostatních účastníků a zda vámi uvedené číslo je překvapivě časté. Konstrukce tohoto skóre byla
        vyvinuta
        vědci z Technologického institutu v Massachusetts (MIT), tak aby vaší nejlepší strategií bylo pravdivě
        uvést hozené číslo. Pokud budete patřit mezi třetinu účastníků s nejvyšší hodnotou tohoto skóre získáte
        odměnu {{ additional_payment }} Kč.
    </li>
</ul>
</p>

{% elif firstA == False %}
<div>
    <p>Odměna za tento experiment se skládá ze dvou částí:</p>

    <p>
    <ul>
        <li>
            Odměna za uvedenou hodnotu hodu. Čím blíže bude vámi uvedené číslo hodnotě 3 nebo 4, tím více peněz získáte.
            Pokud uvedete číslo 3 nebo 4 získáte {{ reward_34 }} Kč. Pokud uvedete číslo 2 nebo 5 získáte
            {{ reward_25 }} Kč. Pokud uvedete číslo 1 nebo 6 získáte {{ reward_16 }} Kč.
        </li>
        <li>
            Odměna za přesný tip a pravdivost: Na základě vašich odpovědí vypočítáme skóre, které odráží, jak přesně
            jste tipovali odpovědi ostatních účastníků a zda vámi uvedené číslo je překvapivě časté. Konstrukce tohoto
            skóre byla vyvinuta
            vědci z Technologického institutu v Massachusetts (MIT), tak aby vaší nejlepší strategií bylo pravdivě
            uvést hozené číslo. Pokud budete patřit mezi třetinu účastníků s nejvyšší hodnotou tohoto skóre získáte
            odměnu {{ additional_payment }} Kč.
        </li>
    </ul>
    </p>

</div>

{% endif %}

<p>
    {% formfield player.roll %}
</p>

<br>

<p>
    Uveďte, jaké procento účastníků experimentu uvedli každou z možných hodnot 1 až 6.
</p>
<div onmouseup="mouseUp()" id="slidersDiv">
    <ol id="sliders">
        <li>
            <div class="slider">0</div>
            <span class="value" id="slider_1">0</span>%
        </li>

        <li>
            <div class="slider">0</div>
            <span class="value" id="slider_2">0</span>%
        </li>

        <li>
            <div class="slider">0</div>
            <span class="value" id="slider_3">0</span>%
        </li>

        <li>
            <div class="slider">0</div>
            <span class="value" id="slider_4">0</span>%
        </li>

        <li>
            <div class="slider">0</div>
            <span class="value" id="slider_5">0</span>%
        </li>

        <li>
            <div class="slider">0</div>
            <span class="value" id="slider_6">0</span>%
        </li>
    </ol>
</div>
<p>Pro postup do další časti experimentu musí být součet procent rovný 100 .</p>
Součet procent: <span id="percentCheck">0</span>%


<!-- If experiment A is first-->
<input type="hidden" name="predict_1" value="0" id="hidden_predict1"/>
<input type="hidden" name="predict_2" value="0" id="hidden_predict2"/>
<input type="hidden" name="predict_3" value="0" id="hidden_predict3"/>
<input type="hidden" name="predict_4" value="0" id="hidden_predict4"/>
<input type="hidden" name="predict_5" value="0" id="hidden_predict5"/>
<input type="hidden" name="predict_6" value="0" id="hidden_predict6"/>


<button class="otree-btn-next btn btn-primary next-button otree-next-button" id="continue_button"
        name="continue_button"> Potvrdit hodnoty a pokračovat
</button>

<link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %} ">
<script src="{% static 'jquery-ui-1.12.1/external/jquery/jquery.js' %}"></script>
<script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'sliders/js/slider.js' %}"></script>
<link href="{% static 'sliders/css/slider.css' %}" rel="stylesheet">

<script>
    var continueButton = document.getElementById("continue_button");
    continueButton.style.cssFloat = "right";
    continueButton.style.margin = "40px auto";
    $("#continue_button").hide()

    continueButton.addEventListener("click", function (event) {
        document.getElementById("hidden_predict1").value = parseFloat(document.getElementById("slider_1").textContent);
        document.getElementById("hidden_predict2").value = parseFloat(document.getElementById("slider_2").textContent);
        document.getElementById("hidden_predict3").value = parseFloat(document.getElementById("slider_3").textContent);
        document.getElementById("hidden_predict4").value = parseFloat(document.getElementById("slider_4").textContent);
        document.getElementById("hidden_predict5").value = parseFloat(document.getElementById("slider_5").textContent);
        document.getElementById("hidden_predict6").value = parseFloat(document.getElementById("slider_6").textContent);
    })
</script>


{% endblock %}
