{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}
<p>
    Dobrý deň,
    moje meno je Rastislav Štefunko a vítam Vás na ekonomickom experimente slúžiacom pre zber
    dát potrebných k mojej diplomovej práci na Ekonomicko-správnej fakulte Masarykovej
    univerzity.
</p>
<p>
    Experiment Vám zaberie približne 10 až 15 minút a obdržíte finančnú odmenu skladajúcu sa
    z dvoch častí. Prvou časťou je fixná zložka odmeny vo výške {{ fixed_payment }} Kč za participáciu na
    experimente. Druhou časťou je variabilná zložka odmeny, ktorá sa bude odvíjať od Vášho
    rozhodovania, čo je predmetom môjho skúmania.
</p>
<p>
Pre vykonanie experimentu budete potrebovať klasickú hraciu kocku. V prípade, že nemáte
hraciu kocku k dispozícii, použite prosím
<a href="https://www.random.org" target="_blank">random.org</a>, kde za „Min“ hodnotu dosadíte číslo 1
a za „Max“ hodnotu dosadíte číslo 6.
</p>

<p>

</p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button" id="continue_button"> Pokračovať </button>

{% endblock %}
