<script src="../../static/sliders/js/slider.js"></script>{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Dotazník{% endblock %}

{% block content %}

{% if treatment == 0 %}
<p>
    Vyplacená Vám bude celková částka skládající se z odměny za participaci a z variabilní složky za experiment A a B.
</p>
{% elif treatment == 1 %}
<p>
    Vyplacená Vám bude celková částka skládající se z odměny za participaci, umístnění se v první třetine podle skóre a
    z
    variabilní složky za experiment A a B.

</p>
{% endif %}
<p>
    Experiment A: {{ result1 }} CZK. <br>
    Experiment B: {{ result2 }} CZK.
</p>
{% if treatment == 1 %}
{% if top30_1 == True %}
V Experimentu A jste se umístili ve  vrchní třetine.
{% else %}
V Experimentu A jste se neumístili ve  vrchní třetine.
{% endif %}

{% if top30_2 == True %}
V Experimentu B jste se umístili ve  vrchní třetine.
{% else %}
V Experimentu B jste se neumístili ve  vrchní třetine.
{% endif %}
{% endif %}

<p>
    Celková odměna za dnešní sezení činí {{ final_payment }}.
</p>


<p>Na závěr Vás poprosíme o vyplnění krátkého dotazníku a Vašeho identifikačního čísla v Hroot. Bez něho Vás nebudeme
    moci spárovat v systému a tedy ani vyplatit Váš dnešní výdělek.

</p>

<p>
    {% formfield player.age %}
</p>

<p>
    {% formfield player.male %}
</p>

<p>
    {% formfield player.nationality %}
</p>

<p>
    {% formfield player.faculty %}
</p>

<p>

    {% formfield player.hrootID %}
</p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button" id="continue_button"> Potvrdit a ukončit
    experiment
</button>

<script>

    var contButton = document.getElementById("continue_button");
    contButton.style.cssFloat = "right";
    contButton.style.margin = "40px auto";

</script>
{% endblock %}
