<script src="../../static/sliders/js/slider.js"></script>{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Dotazník{% endblock %}

{% block content %}

{% if treatment == 0 %}
<p>
    Vyplatená Vám bude celková čiastka pozostávajúca z odmeny za participáciu a z variabilnej zložky za experiment A a
    B.
</p>
{% elif treatment == 1 %}
<p>
    Vyplatená Vám bude celková čiastka pozostávajúca z odmeny za participáciu,
    za umiestnenie sa v prvej tretine podľa skóre v experimente A a B a z variabilnej zložky za experiment A a B.
</p>
{% endif %}
<p>
    1. kolo: {{ result1 }} CZK.
    2. kolo: {{ result2 }} CZK.
</p>
{% if treatment == 1 %}
        {% if top30_1 == True %}
         V 1. kole ste sa umiestnili v hornej tretine.
        {% else %}
         V 1. kole ste sa neumiestnili v hornej tretine.
        {% endif %}

        {% if top30_2 == True %}
         V 2. kole ste sa umiestnili v hornej tretine.
        {% else %}
         V 2. kole ste sa neumiestnili v hornej tretine.
        {% endif %}
{% endif %}

<p>
    Celkovo si tak dnes odnášate čiastku {{ final_payment }}.
</p>



<p>Na záver Vás poprosím o vyplnenie nasledujúcich údajov:</p>

<p>
    {% formfield player.age %}
</p>
    
<p>
    {% formfield player.male %}
</p>

<p>
    {% formfield player.nationality %}
</p>

<p>
    {% formfield player.faculty %}
</p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button" id="continue_button"> Potvrdiť a ukončiť
    experiment
</button>


{% endblock %}
