# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\__OTree\__DP_stefunko\DP_Stefunko\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
